@model IEnumerable<AlimentosMarfim.Models.Cargo>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Cargos";
}
@if (SignInManager.IsSignedIn(User))
{
<h1>Cargos</h1>

<p>
    <a asp-action="Create">Criar novo Cargo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCargo)
            </td>
            <td>
                <a asp-action="Edit"  class="btn btn-primary" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details"  class="btn btn-primary" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete"  class="btn btn-primary" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
else
{
    <div class="text-center">
    <h1 class="display-4">Faça login para continuar...</h1>
        </div>
}

